@import '../../base/palette';

.homepage-article {
  text-align: center;
  padding-top: 120px;

  .card-content {
    margin: 0 auto;
    width: 800px;
    max-width: 100%;
    text-align: center;
  }

  h1 {
    text-align: left;
  }

  hr {
    margin: 40px auto;
  }

  .paper-content {
    padding: 30px;

    span {
      display: block;
      font-size: 22px;
      font-weight: bold;
    }

    i {
      display: block;
      font-size: 60px;
      font-weight: bold;
      font-style: normal;
    }

    .no-results {
      color: $lightGray;
      padding: 40px;
      border: dashed 1px $lightestGray;
      width: 800px;
      max-width: 100%;
      margin: 0 auto;
    }
  }

  .fa-gavel,
  .fa-times {
    font-size: 22px;
  }

  .wishlist-table {

    th:last-child,
    td:last-child {
      width: 40px;
      text-align: center !important;
    }
  }
}