@import '../../base/palette';

.issues-container {
  margin: 0;
  padding: 0 0 40px;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  a {
    color: #000;
    text-decoration: underline;
    display: block;
    margin: 20px 15px 20px 32px;
    font-size: 16px;

    &:hover {
      color: $primaryColor;
    }
  }

  .active {
    color: $primaryColor;
    text-decoration: none;
    font-weight: bold;
  }

  details {
    outline: none;
  }

  summary {
    font-size: 20px;
    color: #000;
    outline: none;
    cursor: s-resize;
    padding: 20px 10px 10px;
    background-color: #f4f4f4;
    margin: 5px 0;
  }
}