@import '../../base/palette';

.sidebar-layout-component {
  aside,
  .content {
    display: inline-block;
    vertical-align: top;
  }

  aside {
    width: 250px;
  }

  .content {
    width: calc(100% - 250px);
  }

}
