.base-layout-component {
  $headerHeight: 60px;
  $bodyHeight: calc(100vh - 60px);

  >div {
    &:first-child {
      position: fixed;
      height: $headerHeight;
      top: 0;
      left: 0;
      right: 0;
    }

    &:nth-child(2) {
      position: fixed;
      top: 60px;
      left: 0;
      right: 0;
      height: $bodyHeight;
      overflow-y: scroll;
    }
  }
}
