@import '../../base/palette';

.login-container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: calc(100vh);
  position: relative;

  .container {
    max-width: 400px;
    position: absolute;
    left: calc(50% - 125px);
    top: calc(50% - 250px);
    padding: 40px;
  }

  h1 {
    font-size: 36px;
    color: $primaryColor;
    margin: 0 0 10px;
    text-align: left;

    img {
      width: 50px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px;
    }
  }

  label {
    font-size: 12px;
    color: $lightGray;
  }

  input {
    &:focus {
      border: 0 !important;
    }
  }

  input:-webkit-autofill {
    background-color: transparent !important;
  }

  .btn-wrapper {
    text-align: right;
    padding: 40px 0 0;
  }
}