$primaryColor: #4abdac;
$secondaryColor: #fe491a;
$brandedAlt: #b59072;
$brandedYellow: #c4a613;
$brandedBlue: #5387fd;
$brandedWhite: #f7f7f7;
$black: #2b2b2b;
$lightestGray: #e8e8e8;
$lightGray: #b5b5b5;
$darkGray: #696969;
$disabled: #dfdfdf;
